@import '../../styles/variables.scss';

.table-board {
    margin: 0.5rem;
    border: 0.3rem solid $corpColor2;
    background-color: $corpColor2;
    border-radius: 1rem;
    border-collapse: separate;
    width: 38rem;

    .board-number {
        background-color: $blanco;
        text-align: center;
        width: 4rem;
        height: 5rem;
        border: 0.3rem solid $corpColor2;
        border-radius: 1rem;
        color: black;
        font-size: 2.5rem;
        font-family: sans-serif;
        font-weight: bold;

        &.zero {
            background-color: $corpColor;

            .logo {
                height: 3rem;
                margin-left: 0.15rem;
                margin-bottom: 0.4rem;
                display: flex;
            }
        }

        &.mobile {
            background-image: url('../../images/icono-azul.svg');
            background-size: 70px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.true {
            background-image: url('../../images/icono-verde.svg');
            background-size: 70px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.false {
            background-image: url('../../images/icono-rojo.svg');
            background-size: 70px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.resultado-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: sans-serif;
    color: $corpColor;
    width: 38rem;
}

.resultado-subtitle {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: sans-serif;
    color: $corpColor;
    width: 38rem;
}