@import '../../styles/variables.scss';

.show-boards-container {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .player-container {
        flex: 0 0 auto;
        width: 100%;
        text-align: center;

        .title-container {
            display: flex;
            justify-content: center;

            .player-title {
                color: $corpColor;
                font-size: 3rem;
                font-family: sans-serif;
                font-weight: bold;
                margin: 2rem;
            }

            .next-button {
                background-color: $corpColor;
                border: none;
                cursor: pointer;
                border-radius: 2rem;
                width: 3rem;
                height: 3rem;
                transition: all 0.2s ease-in-out;
                color: $blanco;
                font-size: 2rem;
                transition: all 0.2s ease-in-out;
                margin-top: 2.7rem;

                &:hover {
                    background-color: $blanco;
                    color: $corpColor;
                }
            }
        }

        .boards-container {
            display: flex;
            justify-content: center;

            .table-board {
                margin: 0.5rem;
                border: 0.3rem solid $corpColor2;
                background-color: $corpColor2;
                border-radius: 1rem;
                border-collapse: separate;

                .board-number {
                    background-color: $blanco;
                    text-align: center;
                    width: 4rem;
                    height: 5rem;
                    border: 0.3rem solid $corpColor2;
                    border-radius: 1rem;
                    color: black;
                    font-size: 2.5rem;
                    font-family: sans-serif;
                    font-weight: bold;

                    &.zero {
                        background-color: $corpColor;

                        .logo {
                            height: 3rem;
                            margin-left: 0.15rem;
                            margin-bottom: 0.4rem;
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}