@import '../../styles/variables.scss';

.player-container {
    display: flex;
    padding: 0.5rem;

    .name {
        margin: 0.5rem;
        font-weight: bold;
        font-size: 3rem;
        border: 0.3rem solid $blanco;
        border-radius: 2rem;
        transition: border-color 0.2s ease-in-out;
        font-family: sans-serif;
        color: $corpColor;
        width: 35rem;
        text-align: center;

        &:focus {
            outline: none;
            border-color: $corpColor;
        }
    }

    .numeric-input {
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: $corpColor;

        .nCards {
            border-radius: 3rem;
            font-weight: bold;
            width: 4rem;
            padding: 0.5rem;
            font-size: 3rem;
            border: 0.2rem solid $corpColor;
            transition: border-color 0.2s ease-in-out;
            font-family: sans-serif;
            color: $corpColor;
            text-align: center;

            &:focus {
                outline: none;
                border-color: $corpColor;
            }
        }

        .numeric-button {
            background-color: transparent;
            color: $blanco;
            font-size: 3rem;
            border: 0 transparent;
            cursor: pointer;

            &:active {
                color: $blanco2;
            }
        }
    }
}