$corpColor: hsl(214, 73%, 65%);
$corpColor2: hsl(214, 73%, 50%);
$blanco: #fff;
$blanco2: #ffffff;
$rojo:#f44336;
$rojo2:#d32f2f;
$verde:#4caf50;
$verde2:#84ca87;
$gris:#f1f1f1;
$gris2:#888;
$gris3:#555;