@import '../../styles/variables.scss';

.show-boards-container {
    margin: 1rem;
    margin-top: 3.2rem;

    &.scroll {
        overflow-y: auto;
        max-height: 410px;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: $gris;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: $gris2;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $gris3;
        }
    }
}

.player-title {
    color: $corpColor;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}

.title-container {
    display: flex;
    justify-content: center;

    .player-title {
        text-align: center;
        width: 65rem;
    }
}

.next-button {
    background-color: $corpColor;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    transition: all 0.2s ease-in-out;
    color: $blanco;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    margin-top: 2.7rem;

    &:hover {
        background-color: $blanco;
        color: $corpColor;
    }
}

.boards-container {
    display: flex;

    &.slider {
        justify-content: center;
    }
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.submit-button {
    margin-top: 7rem;
    background-color: $corpColor;
    color: $blanco;
    font-size: 3rem;
    font-family: sans-serif;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    height: 6rem;
    cursor: pointer;

    &:active {
        background-color: $corpColor2;
    }
}

.QR-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 25rem;

    .QR-h3{
        padding-left: 0.5rem;
        color: $corpColor;
        font-family: sans-serif;
        font-weight: bold;
    }
    
    .QR-p{
        font-family: sans-serif;
        font-weight: bold;
    }

    .QR-block{
        display: flex;

        .QR-button {
            border: none;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            height: 12rem;
            width: 12rem;
            margin-left: 5rem;
    
            .QR-img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .copy-block{
            display: flex;
            margin-top: 5rem;
            margin-left: 1rem;
            width: 12rem;

            .copy-title{
                font-family: sans-serif;
                font-weight: bold;
            }

            .copy-button{
                margin-top: 0.4rem;
                font-size: 1.1rem;
                margin-left: 1rem;
                color: $blanco;
                background-color: $gris;
                padding: 0.5rem;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;

                &:hover{
                    background-color: $gris2;
                }

                &:active{
                    background-color: $gris3;
                }
            }
        }
    }
}
