@import '../../styles/variables.scss';

.validator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .validator-title {
        display: block;
        font-weight: bold;
        font-size: 5rem;
        font-family: sans-serif;
        color: $corpColor;
        text-align: center;
        margin-top: 3rem;
    }

    .validator-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        .selects-container {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .validator-label {
                font-weight: bold;
                padding: 0.5rem;
                font-size: 3rem;
                font-family: sans-serif;
                color: $corpColor;
                text-align: center;
                margin: 2rem;
            }

            .validator-select {
                background-color: $blanco;
                height: 6rem;
                margin: 2rem;
                font-weight: bold;
                font-size: 3rem;
                border: 0.3rem solid $blanco;
                border-radius: 2rem;
                transition: border-color 0.2s ease-in-out;
                font-family: sans-serif;
                color: $corpColor;
                width: 35rem;
                text-align: center;
                outline: none;
                border-color: $corpColor;
            }
        }

        .button-board-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .validator-button {
                margin-top: 27rem;
                position: fixed;
                background-color: $corpColor;
                color: $blanco;
                font-size: 2rem;
                font-family: sans-serif;
                border: none;
                border-radius: 2rem;
                padding: 1rem 2rem;
                cursor: pointer;
                height: 5rem;

                &:active {
                    background-color: $corpColor2;
                }
            }

            .validator-boardbingo {
                margin-top: 7rem;

                &.hidden {
                    margin-top: 0rem;
                    margin-left: 40rem;
                }
            }
        }

        .selects-container-half {
            grid-column: span 1;
        }

        .button-board-container-half {
            grid-column: span 1;
        }
    }

    .validator-terminar-button {
        margin-left: 54rem;
        position: fixed;
        bottom: 5rem;
        background-color: $corpColor;
        color: $blanco;
        font-size: 2rem;
        font-family: sans-serif;
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        height: 5rem;

        &:active {
            background-color: $corpColor2;
        }
    }

    .validator-volver-button {
        margin-left: 55rem;
        position: fixed;
        bottom: 5rem;
        background-color: $corpColor;
        color: $blanco;
        font-size: 2rem;
        font-family: sans-serif;
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        height: 5rem;

        &:active {
            background-color: $corpColor2;
        }
    }

    .validator-again-button {
        margin-left: 50rem;
        position: fixed;
        bottom: 13.5rem;
        background-color: $corpColor;
        color: $blanco;
        font-size: 2rem;
        font-family: sans-serif;
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        height: 5rem;

        &:active {
            background-color: $corpColor2;
        }
    }
}